html, body {
    height: 90%; /* Changed height */
    margin: 5px; /* Added margin */
    padding: 2px; /* Added padding */
    background-color: #f8f9fa; /* Added background color */
}

header {
    background-color: #333; /* Changed background color */
    color: #f0f0f0; /* Changed text color */
    padding: 20px; /* Changed padding */
    text-align: center; /* Changed text alignment */
    font-size: 18px; /* Changed font size */
    font-family: 'Courier New', Courier, monospace; /* Changed font family */
    height: 80px; /* Changed height */
    box-shadow: 0 4px 10px rgba(0,0,0,0.5); /* Adjusted box shadow */
    border-bottom: 3px solid #ccc; /* Added border */
}

iframe {
    flex-grow: 0.5; /* Changed flex-grow value */
    width: 90%; /* Changed width */
    height: 80%; /* Changed height */
    border: 2px solid #333; /* Added border */
    border-radius: 8px; /* Added border radius */
}
