html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

header {
    background-color: white;
    color: black;
    padding: 10px;
    text-align: left;
    font-size: 14px;
    /* Set a fixed height for the header */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 60px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

iframe {
    flex-grow: 1; /* This makes the iframe take up remaining space */
    width: 100%;
    height: 100%;
    border: none;
}